@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

$imgUrl: "https://storage.googleapis.com/allius--bucket-images";

$font-kr : 'Noto Sans KR', sans-serif;
$font-size : 22px;
$wrapper : 1000px;
$theme-color1: #1ECCE4;
$theme-color2: #FF7C00;
$sub-color1: #3E3C49;
$sub-color2: #FDFAF3;


$breakpoints: (
  'w400': (max-width: 400px),
  'w600': (max-width: 600px),
  'w800': (max-width: 800px),
  'w1000': (max-width: $wrapper),
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}